@inherits LayoutComponentBase
@inject ForestNotetaker.Business.Services.AuthService AuthService
@inject NavigationManager NavigationManager
<div class="page">
    <div class="wrapper">
        <TopBar />
        <NavMenu />
        <div class="content-page">
            @Body
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        var isLoggedIn = AuthService.IsUserLoggedIn();
        if (!isLoggedIn)
        {
            NavigationManager.NavigateTo("/login"); 
        }
    }
}